/*styling dealing with the whole HTML document tag, put in for the footer to actually stick down*/
html {
    height: 100%;
}
/*styling for the whole body tag associated with the website, includes the fonts, width for flexible design, as well as some stuff for the footer*/
body {
    
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
    background-color: rgb(175, 238, 231);
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}
/*styling for all the pictures I used*/
img#pic1 {
    width: 250px;
    height: 50px;
    float: left; 
    margin-top: 25px;
}

img#pic2 {
    width: 400px;
    max-height: 400px;
    float: left;
    padding: 1px;
    box-shadow:  5px 5px 5px rgb(243, 243, 119);
    margin-right: 35px;
    margin-left: 20px;
    margin-bottom: 20px;
}

img#pic3 {
    width: 350px;
    max-height: 370px;
    float: left;
    padding: 1px;
    box-shadow:  5px 5px 5px rgb(243, 243, 119);
    margin-right: 35px;
    margin-left: 20px;
    margin-bottom: 25px;
}

img#pic4 {
    width: 600px;
    max-height: 600px;
    float: left;
    padding: 1px;
    box-shadow:  5px 5px 5px rgb(243, 243, 119);
    margin-right: 35px;
    margin-left: 20px;
}

img#shop {
    width: 600px;
    max-height: 600px;
    box-shadow:  5px 5px 5px 5px rgb(243, 243, 119);
}

div#shop_ {
    text-align: center;
}

button {
    border-radius: 4px;
    padding: 15px;
    width: 155px;
    font-weight: 600;
    font-style: bold;
    font-size: 1em;
    background-color: whitesmoke;
    text-transform: uppercase;
}

button a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}
/*used the flex to align the paragraph with the picture that was too the left of it*/
p#paddinghp {
    margin-right: 30px;
    display: flex;
    align-items: center;
}
/*id tag for a paragraph I wanted to break off so it can have enough space*/
p#breakoffp {
    clear: left;
}
/* same dilemma with the paragraph that was next too a image, moved it more in the center with space*/
div#grouppic {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
/*styling dealing with the navigation bar menu, dealing with color in both the ul and li a tag, as well as placement and other small details like the hover*/
nav {
    background-color: rgb(32, 32, 32);
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    display: inline-block;
    background: rgb(32, 32, 32);
    margin: 0 5px;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 6px 12px;
}

nav ul li a:hover {
    color: rgb(243, 243, 119);
}

nav ul ul {    
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover > ul {
    opacity: 1;
    visibility:visible;
}

nav ul ul li {
    position: relative;
    margin-left: -40px;
    max-width: 300px;
    float: none;
    display: list-item;
    border: 1px solid rgba(0,0,0,0.3); 
}


/*wanted the h1 to be in the center, make it look more presentable*/
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
/*styling dealing with the form, moving it and making it as best I could*/
input[type="text"], input[type="email"], input[type="tel"], input[type="checkbox"], input[type="radio"] {
    margin: 10px 10px 10px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="checkbox"] {
    vertical-align: middle;
}

textarea {
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="submit"] {
    width: 10%;
    margin-left: 45%;
    border-radius: 2px;
    padding: 10px;
    font-size: 1em;
    background-color: whitesmoke;
    border-style: none;
}
/*styling dealing with the footer, making it stick on the bottom*/
footer {
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    width: 100%;
    text-align: center;  
    margin-top: auto;
}
/*styling dealing with the social media part of the footer*/
img#social-icon {
width: 50px;
height: 50px;
margin: 0 10px;
}